<% @secrets.each do |secret|%>
	<p><%=secret.content%></p>
	<p><%= secret.likes.count %> likes</p>
	<form action='/likes' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='secret_id' value='<%= s.id %>'>
    <input type='submit' value='Like'>
  	</form>
  	<% if current_user == secret.user %>
	<form method="post" action="/secrets/<%=secret.id%>">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="hidden" name="_method" value="delete">
	<button>Delete Secret</button>
	</form>
	<%end%>
	<%end%>